<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script> 
   $(function(){
    $("#carousel").load("../partials/header.html");
   });  
</script>
</head>
<body class="bck-body">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="../images/logo.jpg"/></a>
    </div>
	<!--div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav navbar-right">
			<li id="home"><a href="/worldwar">World War Impact</a>
				<div class="dropdown-content">
											<a href="/wwi">World War I</a>
											<a href="/wwii">World War II</a>
										</div>
			</li>
			<li id="aboutus"><a href="/trending">Trending</a></li>
			<li id="book"><a href="/gdp">GDP and Economy</a></li>
			<li id="book"><a href="/healthcare">HealthCare</a></li>
		  </ul>
		</div-->
		
		
							<div class="collapse navbar-collapse" id="myNavbar">
								<div class="dropdown">
										<button class="dropbtn"><a href="/">Home</a></button>
								</div>
								<div class="dropdown">
										<button class="dropbtn"><a >War Impact</a></button>
										<div class="dropdown-content">
											<a href="/worldwar">World War I</a>
											<a href="/worldwar2">World War II</a>
										</div>
								</div>
								<div class="dropdown">
										<button class="dropbtn"><a href="/trending">Trending</a></button>
										<div class="dropdown-content">
											<a href="/top10">Top 10</a>
											<a href="/trending">Trending Prediction</a>
											<a href="/map">Worldwide</a>
										</div>
								</div>
								<div class="dropdown">
										<button class="dropbtn"><a >GDP &amp; Economic Impact</a></button>
										<div class="dropdown-content">
											<a href="/gdp">GDP Impact</a>
											<a href="/eco">Economic Types</a>
										</div>
								</div>
								<div class="dropdown">
										<button class="dropbtn"><a >Healthcare</a></button>
										<div class="dropdown-content">
											<a href="/healthcare">Healthcare Expenditure</a>
										</div>
								</div>
							</div>
		
  </div>
</nav>

<div class="p30 m035" style="margin-top: 70px;">
	<section class="col-md-2 section1" style="color:#a99680; text-align: justify;">
		Life expectancy has increased rapidly since the Enlightenment. Estimates suggest that in a pre-modern, poor world, life expectancy was around 30 years in all regions of the world. In the early 19th century, life expectancy started to increase in the early industrialized countries while it stayed low in the rest of the world. This led to a very high inequality in how health was distributed across the world. Good health in the rich countries and persistently bad health in those countries that remained poor. Over the last decades this global inequality decreased. Countries that not long ago were suffering from bad health are catching up rapidly. Since 1900 the global average life expectancy has more than doubled and is now approaching 70 years. No country in the world has a lower life expectancy than the countries with the highest life expectancy in 1800.
				
	</section>

	<div class="col-md-10 main-cont"  style="color:white;">
		<iframe width="1200" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMmE5MGRmM2ItZWNhYi00ZDNlLTkzODgtOTUyNmMzODFiYTU3IiwidCI6IjkxYzM2OWI1LTFjOWUtNDM5Yy05ODljLTE4NjdlYzYwNjYwMyIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
		<!--section id="carousel" class="sec-bottom"-->
		<!--p>
			Life expectancy equals the average number of years a person born in a given country is expected to live if mortality rates at each age were to remain steady in the future. The life expectancy is shown separately for males and females, as well as a combined figure. Several non-sovereign entities are also included in this list.

The figures reflect the quality of healthcare in the countries listed as well as other factors including ongoing wars, obesity, and HIV infections.[citation needed]

Worldwide, the average life expectancy at birth was 71.5 years (68 years and 4 months for males and 72 years and 8 months for females) over the period 2010–2015 according to United Nations World Population Prospects 2015 Revision,[3] or 69 years (67 years for males and 71.1 years for females) for 2016 according to The World Factbook.[4] According to the 2015 World Health Organization (WHO) data, women on average live longer than men in all major regions and in all individual countries except for Mali and Eswatini (Swaziland).[3]

The countries with the lowest overall life expectancies per the WHO are Sierra Leone, the Central African Republic, the Democratic Republic of the Congo, Guinea-Bissau, Lesotho, Somalia, Eswatini, Angola, Chad, Mali, Burundi, Cameroon, and Mozambique. Of those countries, only Lesotho, Eswatini, and Mozambique in 2011 were suffering from an HIV prevalence rate of greater than 12 percent in the 15–49 age group.[5]

Comparing life expectancies from birth across countries can be problematic. There are differing definitions of live birth vs stillbirth even among more developed countries and less developed countries often have poor reporting.[6]
Life expectancy equals the average number of years a person born in a given country is expected to live if mortality rates at each age were to remain steady in the future. The life expectancy is shown separately for males and females, as well as a combined figure. Several non-sovereign entities are also included in this list.

The figures reflect the quality of healthcare in the countries listed as well as other factors including ongoing wars, obesity, and HIV infections.[citation needed]

Worldwide, the average life expectancy at birth was 71.5 years (68 years and 4 months for males and 72 years and 8 months for females) over the period 2010–2015 according to United Nations World Population Prospects 2015 Revision,[3] or 69 years (67 years for males and 71.1 years for females) for 2016 according to The World Factbook.[4] According to the 2015 World Health Organization (WHO) data, women on average live longer than men in all major regions and in all individual countries except for Mali and Eswatini (Swaziland).[3]

The countries with the lowest overall life expectancies per the WHO are Sierra Leone, the Central African Republic, the Democratic Republic of the Congo, Guinea-Bissau, Lesotho, Somalia, Eswatini, Angola, Chad, Mali, Burundi, Cameroon, and Mozambique. Of those countries, only Lesotho, Eswatini, and Mozambique in 2011 were suffering from an HIV prevalence rate of greater than 12 percent in the 15–49 age group.[5]
Life expectancy equals the average number of years a person born in a given country is expected to live if mortality rates at each age were to remain steady in the future. The life expectancy is shown separately for males and females, as well as a combined figure. Several non-sovereign entities are also included in this list.

The figures reflect the quality of healthcare in the countries listed as well as other factors including ongoing wars, obesity, and HIV infections.[citation needed]

Worldwide, the average life expectancy at birth was 71.5 years (68 years and 4 months for males and 72 years and 8 months for females) over the period 2010–2015 according to United Nations World Population Prospects 2015 Revision,[3] or 69 years (67 years for males and 71.1 years for females) for 2016 according to The World Factbook.[4] According to the 2015 World Health Organization (WHO) data, women on average live longer than men in all major regions and in all individual countries except for Mali and Eswatini (Swaziland).[3]

The countries with the lowest overall life expectancies per the WHO are Sierra Leone, the Central African Republic, the Democratic Republic of the Congo, Guinea-Bissau, Lesotho, Somalia, Eswatini, Angola, Chad, Mali, Burundi, Cameroon, and Mozambique. Of those countries, only Lesotho, Eswatini, and Mozambique in 2011 were suffering from an HIV prevalence rate of greater than 12 percent in the 15–49 age group.[5]

Comparing life expectancies from birth across countries can be problematic. There are differing definitions of live birth vs stillbirth even among more developed countries and less developed countries often have poor reporting.[6]
		</p-->
		
		<!--div w3-include-html="/partials/header.ejs"></div-->
		</section>
		<div>
		<div class="blocks section1 ">World War Impact <br/><a href="/worldwar"><span>Explore</span></a></div>
		<div class="blocks section1 ">Trending <br/><a href="/trending"><span>Explore</span></a></div>
		<div class="blocks section1 ">GDP and Economy <br/><a href="/gdp"><span>Explore</span></a></div>
		<div class="blocks section1 ">Health Care <br/><a href="/healthcare"><span>Explore</span></a></div>
		</div>
	</div>
	</div>
</body>
</html>