<html>
<head>
<title>Trending</title>
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script> 
   $(function(){
    $("#carousel").load("../partials/header.html");
   });  
</script>
</head>
<body class="bck-body">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="../images/logo.jpg"/></a>
    </div>
							<div class="collapse navbar-collapse" id="myNavbar">
								<div class="dropdown">
										<button class="dropbtn"><a href="/">Home</a></button>
								</div>
								<div class="dropdown">
										<button class="dropbtn"><a >War Impact</a></button>
										<div class="dropdown-content">
											<a href="/worldwar">World War I</a>
											<a href="/worldwar2">World War II</a>
										</div>
								</div>
								<div class="dropdown">
										<button class="dropbtn"><a href="/trending">Trending</a></button>
										<div class="dropdown-content">
											<a href="/top10">Top 10</a>
											<a href="/trending">Trending Prediction</a>
											<a href="/map">Worldwide</a>
										</div>
								</div>
								<div class="dropdown">
										<button class="dropbtn"><a >GDP &amp; Economic Impact</a></button>
										<div class="dropdown-content">
											<a href="/gdp">GDP Impact</a>
											<a href="/eco">Economic Types</a>
										</div>
								</div>
								<div class="dropdown">
										<button class="dropbtn"><a >Healthcare</a></button>
										<div class="dropdown-content">
											<a href="/healthcare">Healthcare Expenditure</a>
										</div>
								</div>
							</div>
  </div>
</nav>

<div class="p30 m035" style="margin-top: 70px;">
	<section class="col-md-2 section-2">
		<div class="blocks-1 section1 "><a href="/worldwar">World War Impact</a></div>
		<div class="blocks-1 section1 "><a href="/trending" class="highlight" style="color: #b8860b !important;">Trending</a></div>
		<div class="blocks-1 section1 "><a href="/gdp">GDP and Economy</a></div>
		<div class="blocks-1 section1 "><a href="/healthcare">HealthCare</div>			
	</section>

	<div class="col-md-10 main-cont"  style="color:white;">
		<!--iframe width="1200" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMmE5MGRmM2ItZWNhYi00ZDNlLTkzODgtOTUyNmMzODFiYTU3IiwidCI6IjkxYzM2OWI1LTFjOWUtNDM5Yy05ODljLTE4NjdlYzYwNjYwMyIsImMiOjZ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe-->
		
		<div>
			<!--div class='tableauPlaceholder' id='viz1557397544207' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Li&#47;Life-ExpectancyTrending&#47;Top10&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Life-ExpectancyTrending&#47;Top10' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Li&#47;Life-ExpectancyTrending&#47;Top10&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1557397544207');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script-->
			<div class='tableauPlaceholder' id='viz1557420067485' style='position: relative'><noscript><a href='http:&#47;&#47;localhost:3000&#47;trending'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Li&#47;Life-ExpectancyTrending&#47;Map&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Life-ExpectancyTrending&#47;Map' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Li&#47;Life-ExpectancyTrending&#47;Map&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1557420067485');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		
		<!--section id="carousel" class="sec-bottom">
		<p>
			Life expectancy equals the average number of years a person born in a given country is expected to live if mortality rates at each age were to remain steady in the future. The life expectancy is shown separately for males and females, as well as a combined figure. Several non-sovereign entities are also included in this list.

The figures reflect the quality of healthcare in the countries listed as well as other factors including ongoing wars, obesity, and HIV infections.[citation needed]

Worldwide, the average life expectancy at birth was 71.5 years (68 years and 4 months for males and 72 years and 8 months for females) over the period 2010–2015 according to United Nations World Population Prospects 2015 Revision,[3] or 69 years (67 years for males and 71.1 years for females) for 2016 according to The World Factbook.[4] According to the 2015 World Health Organization (WHO) data, women on average live longer than men in all major regions and in all individual countries except for Mali and Eswatini (Swaziland).[3]

The countries with the lowest overall life expectancies per the WHO are Sierra Leone, the Central African Republic, the Democratic Republic of the Congo, Guinea-Bissau, Lesotho, Somalia, Eswatini, Angola, Chad, Mali, Burundi, Cameroon, and Mozambique. Of those countries, only Lesotho, Eswatini, and Mozambique in 2011 were suffering from an HIV prevalence rate of greater than 12 percent in the 15–49 age group.[5]

Comparing life expectancies from birth across countries can be problematic. There are differing definitions of live birth vs stillbirth even among more developed countries and less developed countries often have poor reporting.[6]
Life expectancy equals the average number of years a person born in a given country is expected to live if mortality rates at each age were to remain steady in the future. The life expectancy is shown separately for males and females, as well as a combined figure. Several non-sovereign entities are also included in this list.

The figures reflect the quality of healthcare in the countries listed as well as other factors including ongoing wars, obesity, and HIV infections.[citation needed]

Worldwide, the average life expectancy at birth was 71.5 years (68 years and 4 months for males and 72 years and 8 months for females) over the period 2010–2015 according to United Nations World Population Prospects 2015 Revision,[3] or 69 years (67 years for males and 71.1 years for females) for 2016 according to The World Factbook.[4] According to the 2015 World Health Organization (WHO) data, women on average live longer than men in all major regions and in all individual countries except for Mali and Eswatini (Swaziland).[3]

The countries with the lowest overall life expectancies per the WHO are Sierra Leone, the Central African Republic, the Democratic Republic of the Congo, Guinea-Bissau, Lesotho, Somalia, Eswatini, Angola, Chad, Mali, Burundi, Cameroon, and Mozambique. Of those countries, only Lesotho, Eswatini, and Mozambique in 2011 were suffering from an HIV prevalence rate of greater than 12 percent in the 15–49 age group.[5]
Life expectancy equals the average number of years a person born in a given country is expected to live if mortality rates at each age were to remain steady in the future. The life expectancy is shown separately for males and females, as well as a combined figure. Several non-sovereign entities are also included in this list.

The figures reflect the quality of healthcare in the countries listed as well as other factors including ongoing wars, obesity, and HIV infections.[citation needed]

Worldwide, the average life expectancy at birth was 71.5 years (68 years and 4 months for males and 72 years and 8 months for females) over the period 2010–2015 according to United Nations World Population Prospects 2015 Revision,[3] or 69 years (67 years for males and 71.1 years for females) for 2016 according to The World Factbook.[4] According to the 2015 World Health Organization (WHO) data, women on average live longer than men in all major regions and in all individual countries except for Mali and Eswatini (Swaziland).[3]

The countries with the lowest overall life expectancies per the WHO are Sierra Leone, the Central African Republic, the Democratic Republic of the Congo, Guinea-Bissau, Lesotho, Somalia, Eswatini, Angola, Chad, Mali, Burundi, Cameroon, and Mozambique. Of those countries, only Lesotho, Eswatini, and Mozambique in 2011 were suffering from an HIV prevalence rate of greater than 12 percent in the 15–49 age group.[5]

Comparing life expectancies from birth across countries can be problematic. There are differing definitions of live birth vs stillbirth even among more developed countries and less developed countries often have poor reporting.[6]
		</p-->
		
		<!--div w3-include-html="/partials/header.ejs"></div-->
		</section>
		<!--div>
		<div class="blocks section1 ">World War Impact <br/><a><span>Explore</span></a></div>
		<div class="blocks section1 ">Trending <br/><a><span>Explore</span></a></div>
		<div class="blocks section1 ">GDP and Economy <br/><a><span>Explore</span></a></div>
		<div class="blocks section1 ">Health Care <br/><a><span>Explore</span></a></div>
		</div-->
	</div>
	</div>
</body>
</html>